*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    //  cursor: url(../cursor/purple.cur), auto;
}

:root{
    --color-primary: #141720;
    --color-secondary: rgb(255, 0, 64);
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;

    --project-back-grey: #222633;
    --br-sm-2: 14px;

    --transition-easeout: all .4s ease-out;
    --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3)

    --scaling: .6;
    --scaling-bigger: .65;

    --min-header-side-size: 825px;
}

.switch{
    --color-primary: #dbe1e8;
    --color-secondary: rgb(192, 0, 0);
    --color-white: #000;
    --color-black: #FFFFFF;
    --project-back-grey: #c1c2c7;
}

body{
    background-color: var(--color-primary);
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    transition: var(--transition-easeout);
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: var(--color-grey-5);
}
::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(134, 2, 2);
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

// switching between sections (hiding and scale anim)

section{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.section{
    transform: translateY(-100%) scale(0);
    transition: var(--transition-easeout);
    background-color: var(--color-primary);
}

.sec1{
    display: none;
    transform: translateY(0) scale(1);
}

.sec2{
    display: none;
    transform: translateY(0) scale(1);
}

.sec3{
    display: none;
    transform: translateY(0) scale(1);
}

.sec4{
    display: none;
    transform: translateY(0) scale(1);
}

.sec5{
    display: none;
    transform: translateY(0) scale(1);
}

.active{
    display: block;
    animation: scaleAnim 1s ease-in-out !important;
    @keyframes scaleAnim{
        0%{
            transform: translateY(-100%) scaleY(0);
        }

        100%{
            transform: translateY(0) scaleY(1);
        }
    }
    &.navOpen.sec1{
        padding-top: 11rem !important;
    }
    &.navOpen{
        padding-top: 16rem;
    }
}

// buttons

.controls{
    position: absolute;
    z-index: 10;
    top: .5%;
    right: 50%;
    display: flex;
    column-gap: 1rem;
    transform: translateX(50%);
    .control{
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey-4);
        width: 55px;
        height: 55px;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadow-1);
        i{
            font-size: 1.5rem;
            color: var(--color-grey-2);
            pointer-events: none;
        }
        &:hover{
            transform: scale(1.1);
            border: 1px solid var(--color-secondary);;
        }
    }
    .active-btn{
        background-color: var(--color-secondary) !important;
        transition: var(--transition-easeout);
        i{
            color: var(--color-white) !important;
        }
    }
}

.downloadResumeBtn{
    display: none;
}

.toggle {
    position: absolute;
    z-index: 10;
    top: .5%;
    right: 2%;
    margin: auto;
    display: flex;
    column-gap: 1rem;
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-grey-4);
    width: 55px;
    height: 55px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: .7rem 0;
    box-shadow: var(--box-shadow-1);
    i{
        font-size: 1.5rem;
        color: var(--color-grey-2);
        pointer-events: none;
    }
    &:hover{
        transform: scale(1.1);
        border: 1px solid var(--color-secondary);;
    }
    &.day{
        .moon{
            display: none;
        }
    }
    &.night{
        .sun{
            display: none;
        }
    }
    .moon{
        padding-top: .15rem;
    }
}

@media screen and (max-width: 575px) {
    // hide all controls and make them a drop down menu
    .controls{
        display: none !important;
    }

    .toggle{
        animation: opacity .75s ease-in-out;
        @keyframes opacity {
            0%{
                opacity: 0%;
            }
            100%{
                opacity: 100%;
            }
        }        
        z-index: 15 !important;
        border: 1px solid var(--color-grey-5);
    }

    .nav-con{
        display: flex !important;
    }

    .downloadResumeBtn{
        animation: opacity .75s ease-in-out;
        @keyframes opacity {
            0%{
                opacity: 0%;
            }
            100%{
                opacity: 100%;
            }
        }        
        z-index: 15 !important;
        border: 1px solid var(--color-grey-5);

        position: absolute;
        top: .5%;
        left: 2%;
        margin: auto;
        display: flex !important;
        column-gap: 1rem;
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey-4);
        width: 55px;
        height: 55px;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadow-1);
        i{
            font-size: 1.5rem;
            color: var(--color-grey-2);
            pointer-events: none;
        }
    }

    .hide{
        display: none !important;
    }

    // if size is greater than 575 and nav bar is home, send to home screen or smth
}

.nav-con{
    display: none;
    position: absolute;
    z-index: 15;
    top: .5%;
    right: 50%;
    column-gap: 1rem;
    transform: translateX(50%);
    .openMenu{
        border: 1px solid var(--color-grey-5);

        z-index: 15;
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey-4);
        width: 55px;
        height: 55px;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadow-1);
        i{
            font-size: 1.5rem;
            color: var(--color-grey-2);
            pointer-events: none;
        }
    }

    .actualMenu{
        width: 100vw;
        z-index: 14;
        display: none;
        transform: translateX(50%);
        position: absolute;
        top: 0rem;
        padding-top: 5rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        right: 50%;
        column-gap: 2rem;

        &.nowActive{
            background-color: var(--color-grey-4);
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 2rem;
            animation: opacity .75s ease-in-out;
            @keyframes opacity {
                0%{
                    opacity: 0%;
                }
                100%{
                    opacity: 100%;
                }
            }
        }

        .option{
            cursor: pointer;
            padding-right: 1rem;
            h5{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                text-align: center;
                white-space: nowrap;
                font-size: 1.5rem;
                width: 100%;
            }
        }

    }
}

// section 1 (header)

.sec1{

    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 6rem;
        row-gap: 5rem;

        .initial-text{
            text-align: center;
    
            line-height: 4rem;
            font-size: 4rem;   
            span{
                color: var(--color-secondary);
            }
        }

        .header-content{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            height: 100%;
            column-gap: 5vw;

            .left-header{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 3rem;
                position: relative;
    
                .left-con{
                    .possible{
                        display: block;
                        padding-bottom: 0rem; 
                        font-size: 3rem;
                        text-align: center;
                        transition: opacity .5s ease-in-out;
                        span{
                            color: var(--color-secondary);
                        }
                    }
                    .aboutMe{
                        position: relative;
                        padding-top: 2rem;
                        text-align: center;
                        font-size: 1.75rem;
                        line-height: 175%;
                    }
                }
            }
    
            .right-header{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-right: 3rem;
                
                h2{
                    text-align: center;
                }
                .logoBoard{
                    display: grid;
                    grid-template-columns:repeat(7, 1fr);
                    column-gap: 2rem;
                    row-gap: 1.5rem;
                    padding-top: 2rem;

                    .logo{
                        position: relative;
                        text-align: center;
                        font-size: 4rem;
                
                        img{
                            width: 90px;
                            height: auto;
                        }
                
                        &:hover{
                            .text{
                                visibility: visible;
                            }
                        }
                        .text{
                            position: absolute; 
                            visibility: hidden;
                            top: 0%;
                            right: 50%;
                            transform: translate(50%, -100%);
                
                            background-color: var(--color-grey-1);
                            color: black;
                            font-weight: 700;
                            font-size: 1.1rem;
                            text-align: center;
                            padding: .1rem;
                            white-space: nowrap;
                            &:hover{
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }

        .btn-con{
            padding-bottom: 3rem;
            padding-top: 2rem;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            .main-btn{
                transition: var(--transition-easeout);
                border-radius: 30px;
                color: inherit;
                font-weight: 600;
                position: relative;
                border: 1px solid var(--color-secondary);
                display: flex;
                align-self: flex-start;
                align-items: center;
                overflow: hidden;
                .btn-text{
                    padding: 0 2rem;
                }
                .btn-icon{
                    background-color: var(--color-secondary);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    padding: 1rem;
                    transition: var(--transition-easeout);
                }
                &::before{
                    content:"";
                    position: absolute;
                    top: 0;
                    right: 0;
                    transition: var(--transition-easeout);
                    transform: translateX(100%);
                    z-index: -1;
                }
                &:hover{
                    &::before{
                        width: 100%;
                        height: 100%;
                        background-color: var(--color-secondary);
                        transition: var(--transition-easeout);
                        transform: translateX(0);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1725px) and (min-width: 1551px) {
    .sec1 {
        .header-content{
            column-gap: .5rem !important;
            .right-header{
                padding-right: 0 !important;
                .right-con{
                    scale: .9;
                }
            }
        }
    }
}


@media screen and (max-width: 1550px) and (min-width: 856px) {
    .sec1 {
        .container{
            row-gap: 1rem !important;
        }
        .header-content{
            grid-template-columns: repeat(1, 1fr) !important;
            row-gap: 3rem;
            .left-header{
                padding-left: 1rem !important;
                padding-right: 1rem !important;
            }
            .right-header{
                padding-left: 1rem !important;
                padding-right: 1rem !important;
                border-top: 1px solid var(--color-secondary);
                .right-con{
                    margin-top: 2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 855px) and (min-width: 631px) {
    .sec1 {
        .container{
            row-gap: 0 !important;
        }
        .initial-text{
            font-size: 3rem !important;
        }
        .possible{
            font-size: 2rem !important;
        }
        .aboutMe{
            font-size: 1.5rem !important;
        }
        .header-content{
            grid-template-columns: repeat(1, 1fr) !important;
            row-gap: 3rem;
            .left-header{
                padding-left: 1rem !important;
                padding-right: 1rem !important;
            }
            .right-header{
                padding-left: 1rem !important;
                padding-right: 1rem !important;
                border-top: 1px solid var(--color-secondary);
                .right-con{
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    .logoBoard{
                        grid-template-columns: repeat(4, 1fr) !important;
                        .placeholder{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 630px) and (min-width: 551px) {
    .sec1 {
        .container{
            row-gap: 0 !important;
        }
        .initial-text{
            font-size: 7.5vw !important;
        }
        .possible{
            font-size: 5vw !important;
        }
        .aboutMe{
            font-size: 1rem !important;
        }
        .header-content{
            grid-template-columns: repeat(1, 1fr) !important;
            row-gap: 3rem;
            .left-header{
                padding-left: 1rem !important;
                padding-right: 1rem !important;
            }
            .right-header{
                padding-left: 1rem !important;
                padding-right: 1rem !important;
                border-top: 1px solid var(--color-secondary);
                .right-con{
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    .logoBoard{
                        grid-template-columns: repeat(4, 1fr) !important;
                        .placeholder{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 550px) and (min-width: 351px) {
    .sec1 {
        .container{
            row-gap: 0 !important;
        }
        .initial-text{
            font-size: 7vw !important;
        }
        .possible{
            font-size: 5vw !important;
        }
        .aboutMe{
            font-size: 1rem !important;
        }
        .header-content{
            grid-template-columns: repeat(1, 1fr) !important;
            row-gap: 3rem;
            .left-header{
                padding-left: 1rem !important;
                padding-right: 1rem !important;
            }
            .right-header{
                padding-left: 1rem !important;
                padding-right: 1rem !important;
                border-top: 1px solid var(--color-secondary);
                .right-con{
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    .logoBoard{
                        grid-template-columns: repeat(4, 1fr) !important;
                        .placeholder{
                            display: none;
                        }
                        .logo img{
                            width: 15vw !important;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 350px) and (min-width: 0px) {
    .sec1 {
        .container{
            row-gap: 0 !important;
        }
        .initial-text{
            font-size: 6vw !important;
        }
        .possible{
            font-size: 5vw !important;
        }
        .aboutMe{
            font-size: 1rem !important;
        }
        .header-content{
            grid-template-columns: repeat(1, 1fr) !important;
            row-gap: 3rem;
            .left-header{
                padding-left: 1rem !important;
                padding-right: 1rem !important;
            }
            .right-header{
                padding-left: 1rem !important;
                padding-right: 1rem !important;
                border-top: 1px solid var(--color-secondary);
                .right-con{
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    .logoBoard{
                        grid-template-columns: repeat(3, 1fr) !important;
                        .placeholder{
                            display: none;
                        }
                        .Wplaceholder{
                            display: none;
                        }
                        .logo img{
                            width: 20vw !important;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

// section 2 (education)

// section 3 (experience/blog)

// section 4 (projects)

.sec4{
    padding-top: 3rem;
    padding-left: 2.5rem;
    padding-right: 3rem;
    .main-title{
        text-align: center;
        width: 100%;
        h2{
            position: relative;
            text-transform: uppercase;
            font-size: 4rem;
            font-weight: 700;
            margin-top: 1.5rem;
            span{
                color: var(--color-secondary);
            }
        }
    }
    .sub-title{
        width: 100%;
        text-align: center;
        h4{
            width: 100%;
            position: relative;
            font-size: 1.75rem;
            margin-top: 1.5rem;
            padding-right: 15rem;
            padding-left: 15rem;
            padding-bottom: 1rem;
            line-height: 165%;
            span{
                color: var(--color-secondary);
            }
        }
    }
    .grid-display-board{
        border-top: 1px solid var(--color-secondary);
        display: grid;
        grid-template-columns:repeat(3, 1fr); 
        height: 100%;
        column-gap: 2rem;
        padding-top: 3rem;

        a{
            padding-bottom: 2rem;
            .project{
                background-color: var(--project-back-grey);
                width: 100%;
                height: 100%;
                padding: 1rem;
    
                border: 1px solid var(--color-grey-5);
                border-radius: 5px;
                transition: var(--transition-easeout);
                box-shadow: 1px 2px 15px rgba(0,0,0,0.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 1px solid var(--color-secondary);
                    box-shadow: 1px 3px 15px var(--color-secondary);
                }
    
                .project-title{
                    font-size: 1.25rem;
                    font-weight: bold;
                    padding-bottom: .75rem;
                    border-bottom: 1px solid var(--color-secondary);
                }
                .project-description{
                    padding-top: 1rem;
                    font-size: 1.25rem;
                }
                .project-languages{
                    display: grid;
                    padding-top: 1rem;
                    grid-template-columns: repeat(4, 1fr);
                    .logo{
                        scale: .75;
                        position: relative;
                        text-align: center;
                        font-size: 4rem;
                    
                        img{
                            width: 90px;
                            height: auto;
                        }
                    
                        &:hover{
                            .text{
                                visibility: visible;
                            }
                        }
                        .text{
                            position: absolute; 
                            visibility: hidden;
                            top: 0%;
                            right: 50%;
                            transform: translate(50%, -100%);
                    
                            background-color: var(--color-grey-1);
                            color: black;
                            font-weight: 700;
                            font-size: 1.1rem;
                            text-align: center;
                            padding: .1rem;
                            white-space: nowrap;
                            &:hover{
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }  
    }
}

@media screen and (max-width: 1350px) and (min-width: 931px) {
    .projects .grid-display-board{
        grid-template-columns:repeat(2, 1fr) !important; 
    }
    .projects .sub-title h4{
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }
}

@media screen and (max-width: 930px) and (min-width: 516px) {
    .sec4{
        .sub-title{
            h4{
                padding-right: 0rem !important;
                padding-left: 0rem !important;
            }
        }
        .grid-display-board{
            grid-template-columns:repeat(1, 1fr) !important; 
            padding-left: 0rem !important;
            padding-right: 0rem !important;

            a{
                width: 100% !important;

                .project{
                    .project-languages{
                        grid-template-columns: repeat(2, 1fr) !important;
                    }
                    .project-description {
                        font-size: 1rem !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 515px) and (min-width: 0px) {
    .sec4{
        .main-title{
            h2{
                font-size: 10vw !important;
            }
        }
        .sub-title{
            h4{
                font-size: 5vw !important;
                padding-right: 0rem !important;
                padding-left: 0rem !important;
            }
        }
        .grid-display-board{
            grid-template-columns:repeat(1, 1fr) !important; 
            padding-left: 0rem !important;
            padding-right: 0rem !important;

            a{
                width: 100% !important;

                .project{
                    .project-languages{
                        grid-template-columns: repeat(2, 1fr) !important;
                    }
                    .project-description {
                        font-size: 1.1rem !important;
                    }
                }
            }
        }
    }
}

//section 5 (contact and resume)

.contact{
    padding-top: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    .main-title{
        text-align: center;
        h2{
            position: relative;
            text-transform: uppercase;
            font-size: 4rem;
            font-weight: 700;
            margin-top: 1.5rem;
            span{
                color: var(--color-secondary);
            }
        }
    }
    .content-con{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .left-side{     
            padding-top: 2rem;
            transform: translateX(10vw);
            display: flex;
            align-items: center;
            position: relative;

            .image{
                border-radius: var(--br-sm-2);
                margin-left: 0rem;
                transition: var(--transition-easeout);
                img{
                    height: 650px;
                    width: auto;
                    object-fit: cover;
                    transition: var(--transition-easeout);
                    filter: grayscale(100%);
                    -webkit-filter: grayscale(100%);
                    -moz-filter: grayscale(100%);

                    border: 1px solid var(--color-grey-5);
                    border-radius: 5px;
                    box-shadow: 1px 2px 15px rgba(0,0,0,0.1);
                }


                img:hover{
                    filter: grayscale(0%);
                    -webkit-filter: grayscale(0%);
                    -moz-filter: grayscale(0%);

                    transform: translateY(-5px);
                    border: 1px solid var(--color-secondary);
                    box-shadow: 1px 3px 15px var(--color-secondary);
                }
            }
        }
        .right-side{
            transform: translateX(5vh);
            padding-left: 3rem;
            .right-con{
                text-align: center;
            }
            .resume-btn{
                transform: translate(-10vw, 17.5vh);
                position: relative;
                .resbtn-con{
                    padding-bottom: 3rem;
                    padding-top: 2rem;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    .main-btn{
                        transition: var(--transition-easeout);
                        border-radius: 30px;
                        color: inherit;
                        font-weight: 600;
                        position: relative;
                        border: 1px solid var(--color-secondary);
                        display: flex;
                        align-self: flex-start;
                        align-items: center;
                        overflow: hidden;
                        .btn-text{
                            padding: 0 2rem;
                        }
                        .btn-icon{
                            background-color: var(--color-secondary);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            padding: 1rem;
                            transition: var(--transition-easeout);
                        }
                        &::before{
                            content:"";
                            position: absolute;
                            top: 0;
                            right: 0;
                            transition: var(--transition-easeout);
                            transform: translateX(100%);
                            z-index: -1;
                        }
                        &:hover{
                            &::before{
                                width: 100%;
                                height: 100%;
                                background-color: var(--color-secondary);
                                transition: var(--transition-easeout);
                                transform: translateX(0);
                            }
                        }
                    }
                }
            }
            .text-con{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 0rem;
                transform: translate(-10vw, 15vh);
                position: relative;
                h1{
                    display: block;
                    padding-bottom: 0rem; 
                    font-size: 3rem;
                    text-align: center;
                    transition: opacity .5s ease-in-out;
                    span{
                        color: var(--color-secondary);
                    }
                }
                p{
                    text-align: center;
                    font-size: 1.5rem;
                    margin-top: 1rem;
                    padding-left: 3rem;
                    padding-right: 3rem;
                }
            }
            .contact-options{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                column-gap: 2rem !important;
                justify-content: center;
                padding-left: 0rem;
                transform: translate(-10vw, 17.5vh);
                position: relative;
                a{
                    padding: 1rem;
                    cursor: pointer;
                    background-color: var(--color-grey-4);
                    width: 65px !important;
                    height: 65px;
                    display: flex;
                    border-radius: 50%;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    box-shadow: var(--box-shadow-1);
                    i{
                        font-size: 1.75rem;
                        color: var(--color-grey-2);
                        pointer-events: none;
                    }
                    &:hover{
                        transform: scale(1.1);
                        border: 1px solid var(--color-secondary);
                        .text{
                            visibility: visible;
                        }
                    }
                    .text{
                        position: absolute; 
                        visibility: hidden;
                        top: 0%;
                        right: 50%;
                        transform: translate(50%, -100%);
                
                        background-color: var(--color-grey-1);
                        color: black;
                        font-weight: 700;
                        font-size: 1.1rem;
                        text-align: center;
                        padding: .1rem;
                        white-space: nowrap;
                        &:hover{
                            visibility: visible;
                        }
                    }
                }
                .contactOptionI{
                    padding: 1rem;
                    cursor: pointer;
                    background-color: var(--color-grey-4);
                    width: 65px !important;
                    height: 65px;
                    display: flex;
                    border-radius: 50%;
                    justify-content: center;
                    align-items: center;
                    //margin: auto;
                    box-shadow: var(--box-shadow-1);
                    i{
                        font-size: 1.75rem;
                        color: var(--color-grey-2);
                        pointer-events: none;
                    }
                    &:hover{
                        transform: scale(1.1);
                        border: 1px solid var(--color-secondary);
                        .text{
                            visibility: visible;
                        }
                    }
                    .text{
                        position: absolute; 
                        visibility: hidden;
                        top: 0%;
                        right: 50%;
                        transform: translate(50%, -100%);
                
                        background-color: var(--color-grey-1);
                        color: black;
                        font-weight: 700;
                        font-size: 1.1rem;
                        text-align: center;
                        padding: .1rem;
                        white-space: nowrap;
                        &:hover{
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) and (min-width: 600px) {
    .contact{
        padding-top: 3rem;
        padding-right: 3rem !important;
        padding-left: 3rem !important;
        .main-title{
            text-align: center;
            h2{
                position: relative;
                text-transform: uppercase;
                font-size: 4rem;
                font-weight: 700;
                margin-top: 1.5rem;
                span{
                    color: var(--color-secondary);
                }
            }
        }
        .content-con{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
    
            .left-side{     
                padding-top: 2rem;
                display: flex;
                align-items: center;
                position: relative;
                transform: translate(0) !important;
    
                .image{
                    border-radius: var(--br-sm-2);
                    transition: var(--transition-easeout);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    img{
                        height: 650px;
                        width: auto;
                        object-fit: cover;
                        transition: var(--transition-easeout);
                        filter: grayscale(100%);
                        -webkit-filter: grayscale(100%);
                        -moz-filter: grayscale(100%);
    
                        border: 1px solid var(--color-grey-5);
                        border-radius: 5px;
                        box-shadow: 1px 2px 15px rgba(0,0,0,0.1);
                    }
    
                    img:hover{
                        filter: grayscale(0%);
                        -webkit-filter: grayscale(0%);
                        -moz-filter: grayscale(0%);
    
                        transform: translateY(-5px);
                        border: 1px solid var(--color-secondary);
                        box-shadow: 1px 3px 15px var(--color-secondary);
                    }
                }
            }
            
            .right-side{
                transform: translateX(0) !important;
                padding-left: 0 !important;
                padding-right: 0 !important;
                padding-top: 3rem !important;
                .right-con{
                    text-align: center;
         
                    .text-con{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding-left: 0rem;
                        transform: translate(0) !important;
                        position: relative;
                        h1{
                            display: block;
                            padding-bottom: 0rem; 
                            font-size: 3rem;
                            text-align: center;
                            transition: opacity .5s ease-in-out;
                            span{
                                color: var(--color-secondary);
                            }
                        }
                        p{
                            text-align: center;
                            font-size: 1.5rem;
                            margin-top: 1rem;
                            padding-left: 3rem;
                            padding-right: 3rem;
                        }
                    }

                    .contact-options{
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        column-gap: 2rem !important;
                        justify-content: center;
                        padding-left: 0rem;
                        transform: translate(0, 7.5vh);
                        position: relative;
                        a{
                            padding: 1rem;
                            cursor: pointer;
                            background-color: var(--color-grey-4);
                            width: 65px !important;
                            height: 65px;
                            display: flex;
                            border-radius: 50%;
                            justify-content: center;
                            align-items: center;
                            margin: auto;
                            box-shadow: var(--box-shadow-1);
                            i{
                                font-size: 1.75rem;
                                color: var(--color-grey-2);
                                pointer-events: none;
                            }
                            &:hover{
                                transform: scale(1.1);
                                border: 1px solid var(--color-secondary);
                                .text{
                                    visibility: visible;
                                }
                            }

                        }

                        .contactOptionI{
                            padding: 1rem;
                            cursor: pointer;
                            background-color: var(--color-grey-4);
                            width: 65px !important;
                            height: 65px;
                            display: flex;
                            border-radius: 50%;
                            justify-content: center;
                            align-items: center;
                            //margin: auto;
                            box-shadow: var(--box-shadow-1);
                            i{
                                font-size: 1.75rem;
                                color: var(--color-grey-2);
                                pointer-events: none;
                            }
                            &:hover{
                                transform: scale(1.1);
                                border: 1px solid var(--color-secondary);
                                .text{
                                    visibility: visible;
                                }
                            }
                            .text{
                                position: absolute; 
                                visibility: hidden;
                                top: 0%;
                                right: 50%;
                                transform: translate(50%, -100%);
                        
                                background-color: var(--color-grey-1);
                                color: black;
                                font-weight: 700;
                                font-size: 1.1rem;
                                text-align: center;
                                padding: .1rem;
                                white-space: nowrap;
                                &:hover{
                                    visibility: visible;
                                }
                            }
                        }
                    }

                    .resume-btn{
                        transform: translate(0, 9vh);
                        position: relative;
                        .resbtn-con{
                            padding-bottom: 3rem;
                            padding-top: 2rem;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            .main-btn{
                                transition: var(--transition-easeout);
                                border-radius: 30px;
                                color: inherit;
                                font-weight: 600;
                                position: relative;
                                border: 1px solid var(--color-secondary);
                                display: flex;
                                align-self: flex-start;
                                align-items: center;
                                overflow: hidden;
                                .btn-text{
                                    padding: 0 2rem;
                                }
                                .btn-icon{
                                    background-color: var(--color-secondary);
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 50%;
                                    padding: 1rem;
                                    transition: var(--transition-easeout);
                                }
                                &::before{
                                    content:"";
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    transition: var(--transition-easeout);
                                    transform: translateX(100%);
                                    z-index: -1;
                                }
                                &:hover{
                                    &::before{
                                        width: 100%;
                                        height: 100%;
                                        background-color: var(--color-secondary);
                                        transition: var(--transition-easeout);
                                        transform: translateX(0);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) and (min-width: 0px) {
    .contact{
        padding-top: 3rem;
        padding-right: 0 !important;
        padding-left: 0 !important;
        .main-title{
            text-align: center;
            h2{
                position: relative;
                text-transform: uppercase;
                font-size: 10vw !important;
                font-weight: 700;
                margin-top: 1.5rem;
                margin-right: .5rem;
                margin-left: .5rem;
                span{
                    color: var(--color-secondary);
                }
            }
        }
        .content-con{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            width: 100% !important;
    
            .left-side{     
                padding-top: 2rem;
                display: flex;
                align-items: center;
                position: relative;
                transform: translate(0) !important;
    
                .image{
                    border-radius: var(--br-sm-2);
                    transition: var(--transition-easeout);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    img{
                        height: 550px;
                        width: auto;
                        object-fit: cover;
                        transition: var(--transition-easeout);
                        filter: grayscale(100%);
                        -webkit-filter: grayscale(100%);
                        -moz-filter: grayscale(100%);
    
                        border: 1px solid var(--color-grey-5);
                        border-radius: 5px;
                        box-shadow: 1px 2px 15px rgba(0,0,0,0.1);
                    }
    
    
                    img:hover{
                        filter: grayscale(0%);
                        -webkit-filter: grayscale(0%);
                        -moz-filter: grayscale(0%);
    
                        transform: translateY(-5px);
                        border: 1px solid var(--color-secondary);
                        box-shadow: 1px 3px 15px var(--color-secondary);
                    }
                }
            }
            .right-side{
                padding-left: 0 !important;
                transform: translateX(0) !important;

                .right-con{
                    text-align: center;
                }
                .resume-btn{
                    transform: translate(0, 9vh);
                    position: relative;
                    .resbtn-con{
                        padding-bottom: 3rem;
                        padding-top: 2rem;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        .main-btn{
                            transition: var(--transition-easeout);
                            border-radius: 30px;
                            color: inherit;
                            font-weight: 600;
                            position: relative;
                            border: 1px solid var(--color-secondary);
                            display: flex;
                            align-self: flex-start;
                            align-items: center;
                            overflow: hidden;
                            .btn-text{
                                padding: 0 2rem;
                            }
                            .btn-icon{
                                background-color: var(--color-secondary);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                                padding: 1rem;
                                transition: var(--transition-easeout);
                            }
                            &::before{
                                content:"";
                                position: absolute;
                                top: 0;
                                right: 0;
                                transition: var(--transition-easeout);
                                transform: translateX(100%);
                                z-index: -1;
                            }
                            &:hover{
                                &::before{
                                    width: 100%;
                                    height: 100%;
                                    background-color: var(--color-secondary);
                                    transition: var(--transition-easeout);
                                    transform: translateX(0);
                                }
                            }
                        }
                    }
                }
                .text-con{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 0rem;
                    transform: translate(0, 5vh);
                    position: relative;
                    h1{
                        display: block;
                        padding-bottom: 0rem; 
                        font-size: 3rem;
                        text-align: center;
                        transition: opacity .5s ease-in-out;
                        span{
                            color: var(--color-secondary);
                        }
                    }
                    p{
                        text-align: center;
                        font-size: 1.5rem;
                        margin-top: 1rem;
                        padding-left: 1.5rem;
                        padding-right: 1.5rem;
                    }
                }
                .contact-options{
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    column-gap: 2rem !important;
                    justify-content: center;
                    padding-left: 0rem;
                    transform: translate(0, 8.5vh);
                    position: relative;
                    a{
                        padding: 1rem;
                        cursor: pointer;
                        background-color: var(--color-grey-4);
                        width: 65px !important;
                        height: 65px;
                        display: flex;
                        border-radius: 50%;
                        justify-content: center;
                        align-items: center;
                        margin: auto;
                        box-shadow: var(--box-shadow-1);
                        i{
                            font-size: 1.75rem;
                            color: var(--color-grey-2);
                            pointer-events: none;
                        }
                        &:hover{
                            transform: scale(1.1);
                            border: 1px solid var(--color-secondary);
                            .text{
                                visibility: visible;
                            }
                        }
                        .text{
                            position: absolute; 
                            visibility: hidden;
                            top: 0%;
                            right: 50%;
                            transform: translate(50%, -100%);
                    
                            background-color: var(--color-grey-1);
                            color: black;
                            font-weight: 700;
                            font-size: 1.1rem;
                            text-align: center;
                            padding: .1rem;
                            white-space: nowrap;
                            &:hover{
                                visibility: visible;
                            }
                        }
                    }
                    .contactOptionI{
                        padding: 1rem;
                        cursor: pointer;
                        background-color: var(--color-grey-4);
                        width: 65px !important;
                        height: 65px;
                        display: flex;
                        border-radius: 50%;
                        justify-content: center;
                        align-items: center;
                        //margin: auto;
                        box-shadow: var(--box-shadow-1);
                        i{
                            font-size: 1.75rem;
                            color: var(--color-grey-2);
                            pointer-events: none;
                        }
                        &:hover{
                            transform: scale(1.1);
                            border: 1px solid var(--color-secondary);
                            .text{
                                visibility: visible;
                            }
                        }
                        .text{
                            position: absolute; 
                            visibility: hidden;
                            top: 0%;
                            right: 50%;
                            transform: translate(50%, -100%);
                    
                            background-color: var(--color-grey-1);
                            color: black;
                            font-weight: 700;
                            font-size: 1.1rem;
                            text-align: center;
                            padding: .1rem;
                            white-space: nowrap;
                            &:hover{
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
}